@import "@b1nd/dodam-design-system/colors/colors.css";
:root {
  color-scheme: light;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #111827;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dds-color-background-default);
}


html,
body,
#root {
  width: 100%;
  min-height: 100dvh;
  margin: 0;
}


body {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font: inherit;
}

#root {
  display: flex;
  flex-direction: column;
}
